@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');
html {
    font-family: 'Martian mono', monospace, sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
}

#navbar {
    text-align: center;
}

li {
    display: inline-block;
    padding: .75rem 1rem;
    font-weight: bold;
    color: #465362;
    background-color: #9FC490;
    border: .30rem solid #C0DFA1;
    border-radius: 50px;
    margin: 0.1rem;
}

li:hover {
    background-color: #465362;
    color: #9FC490;
    transition: background-color .75s, color .75s, transform .75s ;
    transform: scale(1.1);
}
body{
    background-color: #D3D3D3	;
}

h1{
    color: #011936;
    text-shadow: 1px 1px 3px;
}
h2,h3,h4{
    color: #465362;
}
p{
    color: #82A3A1;
}
i {
    padding: 0.5rem;
}
footer {
    border-top: 0.1rem solid black;
    font-size: 10px;
;
}
img {
    display: inline;
    float: right;

}
#Kalender {
    border: 2px solid black;
    margin-bottom: 2rem;
    border-collapse: collapse;
}
th {

}
td {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 0.4rem;
    padding-right: 1rem;
    padding-left: 1rem;

}
